.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}

.new-collections h1 {
    color: black;
    font-size: 50px;
    font-weight: 600;
}

.new-collections hr {
    width: 200px;
    height: 6px;
    border-radius: 30px;
    background: black;
}

@media(max-width:1280px){
    .new-collections{
        height:60vh;
    }
    .new-collections h1{
        font-size:40px;
    }
    .new-collections hr{
        width:160px;
        height:4px;
    }
    .collections{
        gap:15px;
        margin-top:25px;
    }
}
@media(max-width:1024px){
    .new-collections{
        height:30vh;
    }
    .new-collections h1{
        font-size:30px;
    }
    .new-collections hr{
        width:120px;
        height:3px;
    }
    .collections{
        gap:12px;
        margin-top:25px;
    }
}
@media(max-width:800px){
    .new-collections{
        height:80vh;
        gap:6px;
    }
    .new-collections h1{
        font-size:20px;
    }
    .new-collections hr{
        width:100px;
    }
    .collections{
        display:grid;
        grid-template-columns:1fr 1fr;
        gap:15px;
    }
}
@media(max-width:500px){
    .new-collections{
        height:230vh;
    }
    .collections{
        display:grid;
        grid-template-columns:1fr;
        gap:15px;
    }
}



