.list-menu{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    height:740px;
    padding:10px 50px;
    margin:20px;
    border-radius:6px;
    background:grey;
}
.listmenu-format-main{
    display:grid;
    grid-template-columns:1fr 3fr 1fr 1fr 1fr 1fr;
    gap:50px;
    width:100%;
    padding:10px 0px;
    color:black;
    font-size:18px;
    font-weight:600;
}
.listmenu-format{
    align-items:center;
    font-weight:500;
}
.listmenu-menu-icon{
    height:80px;

}
.listmenu-remove-icon{
    cursor:pointer;
    margin:auto;
}
.listmenu-allmenus{
    overflow-y:auto;
}
@media(max-width:800px){
    .list-menu{
        box-sizing:border-box;
        width:95%;
        height:100%;
        padding:10px 30px;
        margin: 20px auto;
    }
    .listmenu-format-main{
        padding:15px 0px;
        color:#454545;
        font-size:12px;
    }
    .listmenu-menu-icon{
        height:60px;
    }
}